.App {
  text-align: center;
}

.wordInput {
  width: 50%;
  height: auto;
  margin: 0.5rem;
}

.wordInputError{
  width: 50%;
  height: auto;
  margin: 0.5rem;
  border: solid 0.1rem red;
}

.hideMessageError{
  display: none;
}

.hideMessageResult{
  display: none;
}

.showMessageError {
  margin-top: 0.5rem;
  color: rgb(95, 45, 45);
}